<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personalized Fit Workouts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/materialEntrenador.css">
</head>
<body>
    <div class="container">

        <h1> Personalized Fit Workouts
            <small> PFW</small>
        </h1>
        <nav class="navbar navbar-default" role="navigation">
            <!-- El logotipo y el icono que despliega el menú se agrupan
                 para mostrarlos mejor en los dispositivos móviles -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">PFW</a>
            </div>

            <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                 otro elemento que se pueda ocultar al minimizar la barra -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Inicio</a></li>
                    <li><a href="/secEntrenadores">Entrenadores</a></li>
                    <li><a href="/secRutinas">Rutinas</a></li>

                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login.html">login</a></li>

                </ul>
            </div>
        </nav>

        <hr>

            <section>
                <section>
                    <h1>Rutinas generales</h1>

                </section>
                   <div class="container" >
                       {{#entrenador}}
                       <div class="card card-1">
                           {{#profileIcon}}
                                <a href="/secRutinas"> <img src="{{profileIcon}}" width="100" height="100" class="img-circle"></a>
                           {{/profileIcon}}
                           {{^profileIcon}}
                           <a href="/secRutinas"> <img src="images/default-avatar.png" width="100" height="100"
                                                       class="img-circle"></a>
                           {{/profileIcon}}
                                <p class="text-center"> {{nombre}}</p>
                       </div>
                       {{/entrenador}}
                   </div>
                <section>


                </section>
            </section>
        <div>
            <footer>
                <p >(c) 2018 Iván Y sergio
            </footer>
        </div>



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    </div>

</body>
</html>