<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nueva Rutina</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1> Personalized Fit Workouts
        <small> PFW</small>
    </h1>
    <nav class="navbar navbar-default" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PFW</a>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/secEntrenadores">Entrenadores</a></li>
                <li><a href="/secRutinas"> Rutinas</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                {{#logged}}
                {{#profileIcon}}
                <li><img src="{{profileIcon}}" height="50px" width="50px" class="img-circle">
                    {{/profileIcon}}
                    {{^profileIcon}}
                <li><img src="/images/default-avatar.png" height="50px" width="50px" class="img-circle">
                    {{/profileIcon}}
                    <strong>{{name}}</strong></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Ajustes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/miPerfil">Mi perfil</a></li>
                        <li><a href="/favoritos">Mis rutinas favoritas</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <div style="float: right;margin-right: 5px">
                                <form action="/logout" method="post">
                                    <input type="hidden" name="_csrf" value="{{token}}">
                                    <input type="submit" value="Sign Out" class="btn btn-default" align="right">
                                </form>
                            </div>

                        </li>
                    </ul>

                </li>
                {{/logged}}
                {{^logged}}
                <li><a href="/login.html">login </a></li>
                {{/logged}}

            </ul>
        </div>
    </nav>
    <div class="col-md-9 col-md-offset-1">
        <div class="col-md-12" style="border-width:1px 1px 1x 1px; border-style: solid; border-color: lightgrey;">
            <h3 style="text-align: center">Nueva Rutina</h3>
        </div>
            <div class="col-md-12"
                 style="border-width:1px 1px 1px 1px; border-style: solid; border-color: lightgrey; background: #f1f3f6;">
                <div class="col-md-8 col-md-offset-2">
                    {{#trainer}}
                    {{#profileIcon}}
                    <img src="{{profileIcon}}" height="100px" width="100px" class="img-circle">
                    {{/profileIcon}}
                    {{^profileIcon}}
                    <img src="/images/default-avatar.png" height="100px" width="100px" class="img-circle">
                    {{/profileIcon}}
                    <form action="/rutinaForm" method="post">
                    <div class="control-group form-group">
                        <div class="controls">
                                <br>
                                <table class="table table-bordered table-condensed">
                                    <tr>
                                        <th><p class="text-center"><label>Nombre</label>
                                            <span id="alertname" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtName" name="name">
                                            </span></p>
                                        </th>
                                        <th><p class="text-center"><label>Categoría</label>
                                            <span id="alertCat" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtCat" name="cat">
                                            </span></p>
                                        </th>
                                    </tr>
                                    <tr>
                                        </th>
                                        <th><p class="text-center">Ejercicio</p>
                                            <span id="alertEjercicio" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtEjercicio" name="e1">
                                            </span>
                                        </th>
                                        <th><p class="text-center">Series</p>
                                            <span id="alertSeries" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtSeries" name="s1">
                                            </span>
                                        </th>
                                        <th><p class="text-center">Repeticiones</p>
                                            <span id="alertRepeticiones" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtmail" name="r1">
                                            </span>
                                        </th>
                                    </tr>
                                </table>

                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th><p class="text-center">Ejercicio</p>
                                        <span id="alertEjercicio1" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtEjercicio1" name="e2">
                                            </span>
                                    </th>
                                    <th><p class="text-center">Series</p>
                                        <span id="alertSeries1" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtSeries1" name="s2">
                                            </span>
                                    </th>
                                    <th><p class="text-center">Repeticiones</p>
                                        <span id="alertRepeticiones1" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtRepeticiones1" name="r2">
                                            </span>
                                    </th>
                                </tr>
                            </table>

                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th><p class="text-center">Ejercicio</p>
                                        <span id="alertEjercicio2" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtEjercicio2" name="e3">
                                            </span>
                                    </th>
                                    <th><p class="text-center">Series</p>
                                        <span id="alertSeries2" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtSeries2" name="s3">
                                            </span>
                                    </th>
                                    <th><p class="text-center">Repeticiones</p>
                                        <span id="alertRepeticiones2" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtRepeticiones2" name="r3">
                                            </span>
                                    </th>
                                </tr>
                            </table>

                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th><p class="text-center">Ejercicio</p>
                                        <span id="alertEjercicio3" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtEjercicio3" name="e4">
                                            </span>
                                    </th>
                                    <th><p class="text-center">Series</p>
                                        <span id="alertSeries3" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtSeries3" name="s4">
                                            </span>
                                    </th>
                                    <th><p class="text-center">Repeticiones</p>
                                        <span id="alertRepeticiones3" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtRepeticiones3" name="r4">
                                            </span>
                                    </th>
                                </tr>
                            </table>

                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th><p class="text-center">Ejercicio</p>
                                        <span id="alertEjercicio4" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtEjercicio4" name="e5">
                                            </span>
                                    </th>
                                    <th><p class="text-center">Series</p>
                                        <span id="alertSeries4" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtSeries4" name="s5">
                                            </span>
                                    </th>
                                    <th><p class="text-center">Repeticiones</p>
                                        <span id="alertRepeticiones4" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                            <input type="text" class="form-control" id="txtRepeticiones4" name="r5">
                                            </span>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {{/trainer}}
                    <div class="control-group form-group">
                        <div class="control">
                            <label>Descripción</label>
                            <span id="alertBiography" data-toggle="popover" data-trigger="hover" data-placement="auto"
                                  title="" data-content="">
                                <textarea rows="6" cols="30" class="form-control" id="descripcion" required
                                          maxlenght="999" style="resize:none" name="desc"></textarea>
                                <button type="submit" class="btn btn-primary">Crear</button>
                                <input type="hidden" name="_csrf" value="{{token}}">
                            </span>

                            <br>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
    </div>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>