<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/MaterialEntrenador.css">
</head>
<body>

<div class="container">
    <h1> Personalized Fit Workouts
        <small> PFW</small>

    </h1>
    <nav class="navbar navbar-default" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PFW</a>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
                <li class="active"><a href="/secEntrenadores">Entrenadores</a></li>
                <li><a href="/secRutinas"> Rutinas</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{#logged}}
                {{#profileIcon}}
                <li><img src="{{profileIcon}}" height="50px" width="50px" class="img-circle">
                    {{/profileIcon}}
                    {{^profileIcon}}
                <li><img src="/images/default-avatar.png" height="50px" width="50px" class="img-circle">
                    {{/profileIcon}}
                    <strong>{{name}}</strong></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Ajustes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/miPerfil">Mi perfil</a></li>
                        <li><a href="/favoritos">Mis rutinas favoritas</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <div style="float: right;margin-right: 5px">
                                <form action="/logout" method="post">
                                    <input type="hidden" name="_csrf" value="{{token}}">
                                    <input type="submit" value="Sign Out" class="btn btn-default" align="right">
                                </form>
                            </div>

                        </li>
                    </ul>

                </li>
                {{/logged}}
                {{^logged}}
                <li><a href="/login">login</a></li>
                {{/logged}}

            </ul>
        </div>
    </nav>


    <div>
        {{#entrenadores}}
        <a href="/secEntrenador?id={{id}}">
            <div class="card card-1 grid">
                {{#profileIcon}}
                <img class="img-circle center-block" src={{profileIcon}} height="250px" width="250px">
                {{/profileIcon}}
                {{^profileIcon}}
                <img class="img-circle center-block" src="images/default-avatar.png" height="250px" width="250px">
                {{/profileIcon}}
                <p class="text-center black-text"><strong>{{name}}</strong></p>
                {{#biografia}}
                <p class="text-center black-text">
                    <small>{{biografia}}</small>
                </p>
                {{/biografia}}
            </div>
        </a>
        {{/entrenadores}}
    </div>


</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>