<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PFW: Rutinas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/Material.css">


</head>
<body>
<div class="container">
    <h1> Personalized Fit Workouts
        <small> PFW</small>
    </h1>
    <nav class="navbar navbar-default" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PFW</a>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Entrenadores</a></li>

            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                </div>
                <button type="submit" class="btn btn-default">Enviar</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">login</a></li>

            </ul>
        </div>
    </nav>


    {{#Rutinas}}
    <div class="card card-1">
        <div class="autorHeader">
            <img src="../images/sony_logo20.png" height="60px" width="60px" alt="320px" class="img-circle profile-icon">
            <span class="autorName">nombre</span>
        </div>
        <div>
            <span>{{nombre}}</span>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th><p class="text-center">#</p></th>
                    <th><p class="text-center">Ejercicio</p></th>
                    <th><p class="text-center">Series</p></th>
                    <th><p class="text-center">Repeticiones</p></th>
                </tr>
                {{#ejercicios}}
                <tr>
                    <th><p class="text-center">{{-index}}</p></th>
                    <th><p class="text-center">{{nombre}}</p></th>
                    <th><p class="text-center">{{series}}</p></th>
                    <th><p class="text-center">{{repeticiones}}</p></th>
                </tr>
                {{/ejercicios}}
            </table>
            <strong>Categorias:</strong>
            {{#categorias}}
            <a href="/secRutinas/filter?categoriaId={{id}}">{{nombre}}</a>
            {{/categorias}}
            <br>

            <span>{{descripcion}}</span>
        </div>
    </div>
    <hr>
    {{/Rutinas}}
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>