<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/Material.css">
</head>
<body>

{{#Rutinas}}
<div class="card card-1">
    <div class="autorHeader">
        {{#entrenador}}
        <a href="secEntrenador?id={{id}}">
            <img src="{{profileIcon}}" height="60px" width="60px" alt="320px" class="img-circle profile-icon">
        </a>
        <span class="autorName"> {{nombre}}</span>
        {{/entrenador}}
    </div>
    <div>
        <div class="name-header">
            <strong>{{nombre}}</strong>
            <small>{{date}}</small>
        </div>

        <table class="table table-bordered table-condensed">
            <tr>
                <th><p class="text-center">#</p></th>
                <th><p class="text-center">Ejercicio</p></th>
                <th><p class="text-center">Series</p></th>
                <th><p class="text-center">Repeticiones</p></th>
            </tr>
            {{#ejercicios}}
            <tr>
                <th><p class="text-center">{{-index}}</p></th>
                <th><p class="text-center">{{nombre}}</p></th>
                <th><p class="text-center">{{series}}</p></th>
                <th><p class="text-center">{{repeticiones}}</p></th>
            </tr>
            {{/ejercicios}}
        </table>
        {{#user}}
        <!-- Preguntar como hacer if -->
        <div align="right">
            <a href="/addFav?userId={{id}}&rutinaId{{..id}}" class="btn btn-default"><span
                    class="star glyphicon glyphicon-star"></span> Default text here</a>
        </div>
        {{/user}}
        <strong>Categorias:</strong>
        {{#categorias}}
        <a href="/secRutinas/filter?categoriaId={{id}}">{{nombre}}</a>
        {{/categorias}}
        <br>

        <span>{{descripcion}}</span>
    </div>
</div>
<hr>
{{/Rutinas}}
{{Comentarios}}
<div class="card card-1">
    <div class="autorHeader">
        {{#user}}
        <img src="{{profileIcon}}" height="60px" width="60px" alt="320px" class="img-circle profile-icon">
        <span class="autorName"> {{nombre}}</span>
        {{/user}}
    </div>
    <p class="text-center">{{comentario}}</p>
</div>


</body>
</html>