<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="col-md-9">
        <div class="col-md-12" style="border-width:1px 1px 1x 1px; border-style: solid; border-color: lightgrey;">
            <h3 style="text-align: center">Mi perfil <small>Añade información personal para compartir tu perfil</small></h3>
        </div>
        <div>
            {{#profileIcon}}
            <img src="{{profileIcon}}" height="60px" width="60px" class="img-circle">
            {{/profileIcon}}
            {{^profileIcon}}
            <img src="/images/default-avatar.png" height="60px" width="60px" class="img-circle">
            {{/profileIcon}}
        </div>
        <form name="modifyProfile" id="ProfileForm" novalidate>
            <div class="col-md-12" style="border-width:1px 1px 1px 1px; border-style: solid; border-color: lightgrey; background: #f1f3f6;">
                <div class="col-md-8 col-md-offset-2">

                    <div class="control-group form-group">
                        <div class="controls">
                            <br>
                            <label>Información básica</label>
                            <span id="alertname" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                <input type="text" class="form-control" id="txtName" placeholder="{{nombreU}}">
                            </span>
                            <br>
                            <span id="alertSurname" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                <input type="text" class="form-control" id="txtSurName" placeholder="{{passwordU}}">
                            </span>
                            <br>
                            <span id="alertEmail" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                                <input type="text" class="form-control" id="txtmail" placeholder="{{emailU}}">
                            </span>
                            <p class="help-block"></p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>